<h1> <%= @book.title %> </h1>
<p><a href="/books"> Retour à l'index </a></p>

<%= form_tag "/books/#{@book.id}", method: 'patch' do %>
  <input type="texte" name="title" value="<%=@book.title%>">
  <p> <%= @book.errors[:title].first %> </p>
  <input type="submit" value="Modifier le livre">
<% end %>
<%= form_tag "/books/#{@book.id}", method: "delete" do %>
<input type="submit" value="Supprimer le livre">
<% end %>
